@import '../../index.scss';

.mini-cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
  // margin: 0;
}

.mini-details {
  margin: 0;
  width: 136px;
  // height: 134px;
  text-align: left;
  // margin-bottom: 41px;
}

.mini-title {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  // text-align: left;
}

.mini-price {
  margin-top: 5px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.mini-attributes-value {
  color: $grey;
  background-color: rgba(166, 166, 166, 0.2);
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid $grey;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  overflow-x: auto;
  margin-right: 8px;
  margin-top: 7px;
  margin-bottom: 0;
}

.mini-attributes-value.select {
  // background: $text;
  background-color: $white;
  border: 1px solid $text;
  color: $text;
}

.mini-actions {
  display: flex;
  height: 137px;
  width: 139px;
  // vertical-align: middle;
  // text-align: center;
}

.mini-counting {
  width: 24px;
  height: 137px;
  text-align: center;
}

.mini-count-btn {
  background-color: $white;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  margin-bottom: 0px;
  cursor: pointer;
}

.mini-count-img  {
  width: 100%;
  height: 100%;
  // width: 45px;
  // height: 45px;
  object-fit: fill;
}

.mini-count-img:hover {
  filter: $filter-in-primary;
}


.mini-count-number {
  padding: 0;
  margin: 0;
  height: 89px;
  width: 24px;
  text-align: center;
  line-height: 89px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.mini-galary {
  margin-left: 10px;
  // position: relative;
  width: 105px;
  height: 137px;
}

.mini-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}



