@import '../index.scss';

.cart-empty {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.cart-title, .cart-total{
  display: flex;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-top: 80px;
  text-align: left;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.cart-total-text {
  text-transform: lowercase;
}