@import "../../index.scss";

.header {
  display: flex;
  margin-top: 24px;
  max-width: 1240px;
  width: 100%;
  height: 56px;
  color: $text;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway';
  font-style: normal;
}

.logo {
  position: absolute;
  width: 41px;
  height: 41px;
  left: calc(50% - 41px/2);
}