@import "../../index.scss";

.currency-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 20px;
}

.currency-item:hover {
  cursor: pointer;
  color: $primary
}
