@import '../../index.scss';

.product__list {
  // display: inline-flex;
  margin-top: 102px;
  margin-bottom: 88px;
  // width: 100%;
  // margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  // align-items: flex-start;
  // float: left;
  // width: fit-content
}