@import "../../index.scss";

.header__navigation-item {
  width: 97px;
  height: 56px;
    list-style: none;
    text-decoration: none;
    color: $text;
  }
  // margin: 30px 0px;


.header__navigation-item:hover {
  border-bottom: 2px solid;
}

