@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto&display=swap');

$primary: #5ECE7B;
$info-variant: #B4D2F4;
$text: #1D1F22;
$white: #FFFFFF;
$red-color: rgb(220, 53, 69);
$out-of-stock: #8D8F9A;
$line: #E5E5E5;

body {
  border: border-box;
  font-family: 'Raleway', 'Roboto', sans-serif;
  background-color: $white;
  margin: 0 auto;
  padding: 0;
  max-width: 1290px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  overflow-x: hidden;
}

// li, a {
//   list-style: none;
//   text-decoration: none;
// }