@import '../../index.scss';


.contents {
  display: contents;
  text-decoration: none;
}

.card {
  position: relative;
  display: inline;
  width: 356px;
  height: 444px;
  margin-right: 40px;
  margin-bottom: 104px;
  background: $white;
  padding: 16px;
  filter: grayscale(0%);
}

.card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.card:hover .card__cart {
  display: block;
  z-index: 10;
  position: absolute;
  width: 52px;
  height: 52px;
  right: 15px;
  bottom: 98px;
}

.card__img {
  border: 0px;
  background: none;
  width: 354px;
  height: 330px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  top: 16px;
}

.outStock .card__img {
  filter: grayscale(100%);
}

.card__content {
  margin-top: 24px;
  display: block;
  position: relative;
  height: 58px;
  color: $text;
  text-align: left;
}

.card__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.card__price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.card__cart {
  display: none;
}

.outStock .card__content {
  color: $out-of-stock;
}

.cart__text {
  display: none;
}

.outStock .cart__text {
  display: block;
  text-transform: uppercase;
  position: absolute;
  color: $out-of-stock;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  align-items: center;
  left: 25.42%;
  right: 25.71%;
  top: 44.24%;
  bottom: 43.94%;
  z-index: 10;
}

.outStock:hover .card__cart {
  display: none;
}